.storybook-tooltip-container {
  position: relative;
  display: inline-block;
}

.storybook-tooltip-trigger {
  cursor: pointer;
}

.storybook-tooltip-text {
  visibility: hidden;
  min-width: 60px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 12px;
  white-space: nowrap;
}

.storybook-tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.storybook-tooltip-container:hover .storybook-tooltip-text {
  visibility: visible;
  opacity: 1;
}
